/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius:10;
}

.menuButtons {
    -fx-text-alignment: center;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(153,122,80,0.9), rgba(255,255,255,0));
    -fx-hgap: 30;
    -fx-cursor: hand;
}

.menuButtons:hover {
    -fx-border: 1;
    -fx-border-color: #2e8b57;
}




