/*
* Load Screen StyleSheet
*/

/* Outer AnchorPane */
#outer-anchor-pane{
    -fx-pref-width: 1280.0;
    -fx-pref-height: 720.0;
}

/* Background Image Pane */
#background-pane{
	-fx-background-image: url("/ui/duxcom-background.png");
    -fx-background-size: 1280.0 720.0;
    -fx-pref-height: 720.0;
    -fx-pref-width: 1280.0;
}

/* VBox containing buttons */
#button-box{
    -fx-pref-width: 300.0;
}

/* Buttons */
.game-mode-buttons, .multiplayer-buttons{
    -fx-text-alignment: center;
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(153,122,80,0.9), rgba(255,255,255,0));
    -fx-font-size: 14.0;
}

/* Mouse hover over mode buttons */
.game-mode-buttons:hover{
    -fx-cursor: hand;
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 120%, rgba(153,122,80,0.9), rgba(255,255,255,0));
}

/* Player Rewards Button */
#player-rewards-button{
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(208,197,89,0.9), rgba(255,255,255,0));
}

/* Header of Multiplayer TitledPane */
.titled-pane
{
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-alignment: center;
}

/* Multiplayer Host/Join Buttons */
.multiplayer-buttons{
    -fx-padding: 5.0 5.0 5.0 5.0;
    -fx-background-insets: 0,0,0,0;
    -fx-pref-width: 80.0;
}

/* Server Name Label */
#server-name{
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

/* Bg of Multiplayer Header */
.titled-pane > .title{
    -fx-font-family: "Arial";
    -fx-text-alignment: center;
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(153,122,80,0.9), rgba(255,255,255,0));
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-font-size: 14.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

/* Content drop down of Multiplayer */
.titled-pane > *.content{
    -fx-border-color: #090a0c;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 300.0;
 }

/* Arrow highlight */
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: #149b63, -fx-mark-color;
}

/* Overlay to darken bg */
#dark-overlay-pane{
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-pref-height: 720.0;
    -fx-pref-width: 1280.0;
}