#toolbox{
    -fx-background-color: #222222;

}

#infoWindow{
    -fx-background-color: black;
}

#itemList .list-cell{
    -fx-control-inner-background: black;
    -fx-text-fill: white;
}


/*Buttons*/
.buttons{
    -fx-text-alignment: center;
    -fx-padding: 10 20 10 20;
    -fx-max-width: 120.0;
    -fx-min-width: 60.0;
    -fx-max-height: 36.0;
    -fx-min-height: 36.0;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(153,122,80,0.9), rgba(255,255,255,0));
    -fx-font-size: 14.0;
}

.buttons:hover{
    -fx-cursor: hand;
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 120%, rgba(153,122,80,0.9), rgba(255,255,255,0));

}

#infoWindowHeader{
    -fx-text-fill: white;
}

#infoWindowDescription{
    -fx-text-fill: white;
    -fx-wrap-text: true;
}